@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1a1a1a;
  color: white;
}

input {
  color: #1a1a1a;
}

#filter {
  @apply grid sm:flex gap-3 mt-2 mb-4 sm:mx-6 md:mx-8 lg:mx-20 xl:mx-48;
  button {
    @apply bg-blue-500 text-white p-2 rounded hover:bg-blue-700 sm:w-1/4;
  }
}

form {
  @apply bg-opacity-15 bg-white p-4 rounded-lg shadow-md;

  label {
    display: block;
  }

  input[type="file"] {
    @apply bg-white bg-opacity-50 mt-1 p-2 w-full border rounded cursor-pointer;
  }

  input[type="text"] {
    @apply mt-1 p-2 w-full border rounded;
  }

  button {
    @apply bg-blue-500 text-white p-2 rounded hover:bg-blue-700 w-2/4;
  }
}
